<template>
<div id="app">
    <picker @images="images = $event"/>
    <collage :images="images"/>
    <footer><a :href="HOMEPAGE_URL">kollagen v{{APP_VERSION}}</a></footer>
</div>
</template>

<script lang="ts">
import {Component, Vue} from "vue-property-decorator";
import Picker from "@/components/Picker.vue";
import Collage from "@/components/Collage.vue";

@Component({
    components: {
        Picker,
        Collage
    },
})
export default class App extends Vue {
    private images: ImageBitmap[] = [];

    private get APP_VERSION() {
        return process.env.VUE_APP_VERSION;
    }

    private get HOMEPAGE_URL() {
        return process.env.VUE_APP_HOMEPAGE;
    }
}
</script>

<style>
html, body {
    margin: 0 2em;
    padding: 0;
}

#app {
    font-family: monospace;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    min-height: 100vh;
}

footer {
    width: 100%;
    text-align: center;
}
</style>
